/* PC */
@media screen and (min-width: 992px) {
    .toggle-menu,
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile*/
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu i {
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: opacity, visibility;
        transition-duration: 0.5s;
    }

    .menu-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform 0.25s linear;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .mobile-separate {
        border-top: 1px solid #ebebeb;
    }

    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    .hero-img {
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 400px;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        margin-top: 80px;
        order: 2;
    }

    .stats .info {
        order: 1;
        padding: 0;
        text-align: center;
    }

    .stats .sub-title {
        width: 70%;
        margin: 0 auto;
    }

    .stats .sub-title::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .qty-desc {
        font-size: 1.5rem;
    }

    .supscription .image {
        display: none;
    }

    .supscription .info {
        text-align: center;
        width: 100%;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 85px;
    }

    .footer .row-top .column {
        justify-self: center;
    }

    .footer .row-top .column:nth-child(2) {
        justify-self: flex-start;
    }
}

/* Tablet*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        transform: translateY(0);
    }

    .hero-wrap .title {
        font-size: 5rem;
        margin-top: 20px;
    }

    .clients .row-desc {
        justify-content: center;
    }

    .clients .images {
        row-gap: 30px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .featured .desc {
        text-align: center;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .supscription .info {
        padding: 30px;
    }

    .supscription .body {
        height: auto;
    }

    .supscription .sub-title {
        font-size: 2.4rem;
    }

    .supscription .btn {
        margin-top: 30px;
    }

    .footer .row-top {
        column-gap: 85px;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}
